*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("bg2.jpeg");
    background-size: cover;
}
header {
  background-color: #222;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  border: 2px dashed white;
}
.u{
    color: white;
    font-size: 50px;
}
.tr{
    background-color: yellow;
    height: 100px;
    width: 200px;
    color:black;
    animation: loop 1s ease-in 0s infinite normal;
}
@keyframes loop {
    from{
        border: 2px dashed navy;
    }
    to{
        border: 2px dashed green;
    }
}
header h1 {
  margin-bottom: 10px;
}

.team {
  padding: 40px 20px;
  text-align: center;
}

.team h2 {
  margin-bottom: 30px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.member {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 250px;
  transition: transform 0.3s ease;
}

.member:hover {
  transform: translateY(-5px);
}

.member img {
  width: 100%;
  border-radius: 50%;
opacity: 0;
  margin-bottom: 15px;
}
.member img:hover{
  width: 100%;
  transition:0.5s ease-in;
  opacity: 1;
  border-radius: 50%;
  margin-bottom: 15px;
}
.member h3 {
  margin: 0 0 10px;
  color: #111;
}

.member p {
  font-size: 0.9rem;
  color: #555;
}
.marquee-wrapper {
      width: 100%;
      overflow: hidden;
      height: 300px;
      background: #f9f9f9;
      border: 1px solid #ccc;
    }

    .marquee {
      display: flex;
      gap: 25px;
      width: max-content;
      animation: scroll-left 15s linear infinite;
    }

    .marquee-wrapper:hover .marquee {
      animation-play-state: paused;
    
    }

    .marquee img {
      height: 400px;
      margin-right: 20px;
      border-radius: 8px;
      transform: scale(1.1);
    }
.marquee img:hover {
      height: 300px;
      margin-right: 20px;
      border-radius: 8px;
      transform: scale(1);
      transition: transform 0.3s ease ;
    }
    @keyframes scroll-left {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }